{% extends "base.html" %} {% load static %} {% block content %}

<div class="container d-flex justify-content-center align-items-center h-100">
  <div class="row justify-content-center">
    <h2>Giriş Yap</h2>
    <form method="post">
      {% csrf_token %}
      <div class="w.100">
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            name="email"
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            name="password"
          />
          <label for="floatingPassword">Password</label>
        </div>
      </div>
      <button type="submit" class="d-block ms-auto mt-3 btn btn-primary">
        Giriş Yap
      </button>
    </form>
  </div>
</div>
{% endblock content %}
